<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
crossorigin="anonymous">
</head>
<body> 	
                                                
                                                 <!---- NAVBAR (header) ---->
   <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> CourseSystem v.1.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#"> Our Courses </a>
        <a class="nav-link" href="#">Contact</a>
        <a class="nav-link" href="#"> About</a>
        <a class="nav-link disabled">     since 2022</a>
      </div>
    </div>
  </div>
</nav>
  
     
                                                   <!---- REGISTRATION FORM---->
                                                   
   <div class ="container" >
     <div class = "row"> 
       <div class = "col-md-6 col-md-offset-3">
       
                  <!--  success message -->
                  
                  <div th:if = "${param.success}">
                    <div class = "alert alert-info">  You've successfully registration 
                    
                    </div> 
                  </div>
                  
                  <h1> Registration</h1>
                  
                  <form th:action = "@{/registration}" method ="post" th:object = "${user}"> 
                 
                  <div class = "form-group"> 
                  <label class = "control-label" for ="firstName"> First Name </label>
                  <input id = "firstName" class="form-control" th:field = "*{firstName}" required autofocus = "autofocus" />                
                  </div>	 
                  
                  <div class = "form-group"> 
                  <label class = "control-label" for ="lastName"> Last Name </label>
                  <input id = "lastName" class="form-control" th:field = "*{lastName}" required autofocus = "autofocus" />                
                  </div>
                  
                  <div class = "form-group"> 
                  <label class = "control-label" for ="email"> Email </label>
                  <input id = "email" class="form-control" th:field = "*{email}" required autofocus = "autofocus" />                
                  </div>
                  
                  <div class = "form-group"> 
                  <label class = "control-label" for ="password"> Password </label>
                  <input id = "password" class="form-control" th:field = "*{password}" required autofocus = "autofocus" />                
                  </div>
                  
                  <div class = "form-group"> 
                  <button type ="submit" class = "btn btn-success"> Register </button> 
                  <span> Already register? <a href	="/" th:href = "@{/login}"> Login here </a> </span>              
                  </div>
         
                  </form>	
                  
                  
     </div>
   </div>

</body>
</html>